
<div class="home-page-table">
  <div class="home-page-content tk-europa text-uppercase">
    <h1>Create Google Calendar Events With SMS</h1>
    <br>
    <button class="btn btn-primary btn-lg text-uppercase">
      Get Started Now
    </button>
  </div>
</div>


