// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

$brand-primary:         #4383F4;

$border-radius-base:    none;
$border-radius-large:   none;
$border-radius-small:   none;

@import "static_pages";

@import "animate";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
